html{
    scroll-behavior: smooth;
}

.introducing-part .introducing-part-title,
.cathalog .cathalog-title,
.workshops .workshops-title,
.english-information .english-title,
.form-container h1{
    font-size: 4rem;
}

.header{
    height: 9rem;
    padding: 0 6.4rem;
}

.navbar-menu-tablet li a:hover{
    color: var(--light-blue);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-container{
    width: 12rem;
    height: 6rem;
}

.icon-container .icon-image{
    width: 100%;
    height: 100%;
}

.main-container{
    width: 80.4rem;
    margin: 0 auto;
}

.introducing-part{
    padding: 0;
}

.main-portrait{
    width: 80.2rem;
    height: 54.6rem;
    left: calc( 50% - 40.1rem );
}

.main-portrait::-webkit-scrollbar,
.workshops .workshop-slidebar::-webkit-scrollbar,
.workshops .english-slidebar::-webkit-scrollbar{
display: none; 
}

.main-portrait::-webkit-scrollbar-thumb,
.workshops .workshop-slidebar::-webkit-scrollbar-thumb,
.workshops .english-slidebar::-webkit-scrollbar-thumb{
    display: none;
  }

.main-portrait::-webkit-scrollbar-track,
.workshops .workshop-slidebar::-webkit-scrollbar-track,
.workshops .english-slidebar::-webkit-scrollbar-track{
  display: none;
} 

.introducing-part .introducing-part-paragraph{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.cathalog{
    padding: 0;
    height: 15.8rem;
}

.cathalog .cathalog-title{
    width: 80.4rem;
}

.cathalog .cathalog-paragraph{
    width: 80.4rem;
    margin: 0 auto;
    font-size: 2.4rem;
    margin-top: .8rem;
}

.cathalog, .workshops-information{
    padding: 0;
}

.cathalog .cathalog-link{
    width: 24.6rem;
}

.workshops .workshop-slidebar{
    width: 80.2rem;
    height: 54.6rem;
    left: calc( 50% - 40.1rem );
}


.workshop-slidebar figure:first-child{
    min-width: 98rem;
}

.workshop-slidebar figure:nth-child(2){
    min-width: 54.6rem;
}

.workshop-slidebar figure:nth-child(3) {
    min-width: 41rem;
}

.workshops-information .workshops-paragraph,
.english-information .english-information-paragraph,
.form-container p,.footer .footer-adress{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.workshops .workshops-little-paraghraph,
.english-information .english-little-paragraph{
    font-size: 1.6rem;
}

.english-information{
    padding: 0;
}

.workshops .english-slidebar{
    width: 80.2rem;
    height: 54.6rem;
    left: calc( 50% - 40.1rem );
}

.form-container {
    padding: 0;
}

.form-container h1,.form-container p{
    width: 80.4rem;
    margin: 0 auto;
}

.form span{
    font-size: 2rem;
    line-height: 2rem;
}

.form input[type="text"],.form input[type="date"]{
    margin-top: 1rem;
    height: 2.4rem;
}

.footer .footer-adress,
.footer .footer-links,
.link-developer p{
    font-size: 2rem;
    width: 21.4rem;
    margin: 0 auto;
}

.footer .footer-libary-location,
.footer-credits .link-developer{
    width: 21.4rem;
    margin: 0 auto;
}

.footer-credits .wwwdfooter-credits-library-image{
    width: 15rem;
    height: 7.5rem;
}

/*estilos barras de scroll lateral*/

.lateral-scroll{
    display: flex;
    width: 100%;
    height: 4.8rem;
    background-color: transparent;
    position: absolute;
    top: calc( 50% - 2.4rem );
    justify-content: space-between;
} 

.lateral-scroll .lateral-left-scroll,
.lateral-scroll .lateral-right-scroll{
    width: 4.8rem;
    height: 4.8rem;
}


/*estilos catalogo para desktop*/

.cathalog-main{
    width: 90%;
}

.cathalog-main .cathalog-main-label{
    width: 56.6rem;
    margin: 0 auto;
}

.cathalog-main .cathalog-main-book {
    height: 30rem;
}

.cathalog-main .cathalog-main-grid {
    display: grid;
     grid-template: auto / 2.4rem 13.5rem auto;
    grid-template-areas:
        "cathalog-main-id cathalog-book-title cathalog-book-title"
        "genre genre genre-description"
        "author author author-description"
        "year year year-description"
        "editorial editorial editorial-description"
        "book-type book-type book-type-description"
        "cathalog-state cathalog-state cathalog-state";
    height: 100%;
    border-bottom: 1px solid var(--medium-gray-color);
}

.cathalog-main .cathalog-main-grid p{
    font-size: 2rem;
}

.cathalog-main .cathalog-state{
    width: 24rem;
}

/*estilos no encontramos el libro que buscar*/

.missing-book{
    width: 68.3rem;
    height: 30rem;
}

.missing-book .missing-book-icon{
    width: 3rem;
}

.missing-book .missing-book-title{
    font-size: 3.2rem;
}

.missing-book .first-advert,
.missing-book .second-advert,
.missing-book .third-advert{
    font-size: 2rem;
}

.missing-book .la-montana-mag-logo{
    width: 20rem;
}