html{
    scroll-behavior: smooth;
}

.introducing-part .introducing-part-title,
.cathalog .cathalog-title,
.workshops .workshops-title,
.english-information .english-title,
.form-container h1{
    font-size: 4rem;
}

.header{
    height: 9rem;
    padding: 0 6.4rem;
}

.navbar-menu-tablet li a:hover{
    color: var(--light-blue);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-container{
    width: 12rem;
    height: 6rem;
}

.icon-container .icon-image{
    width: 100%;
    height: 100%;
}

.main-container{
    width: 80.4rem;
    margin: 0 auto;
}

.introducing-part{
    padding: 0;
}

.main-portrait{
    width: 80.2rem;
    height: 54.6rem;
    left: calc( 50% - 40.1rem );
}

.main-portrait::-webkit-scrollbar,
.workshops .workshop-slidebar::-webkit-scrollbar,
.workshops .english-slidebar::-webkit-scrollbar{
    height: 1rem;
    background-color: transparent;
    opacity: 30%;
    border-radius: .5rem; 
}

.main-portrait::-webkit-scrollbar-thumb,
.workshops .workshop-slidebar::-webkit-scrollbar-thumb,
.workshops .english-slidebar::-webkit-scrollbar-thumb{
    background-color: var(--medium-gray-color);
    border-radius: .5rem;
  }

.main-portrait::-webkit-scrollbar-track,
.workshops .workshop-slidebar::-webkit-scrollbar-track,
.workshops .english-slidebar::-webkit-scrollbar-track{
    background-color: var(--medium-soft-gray-color);
}

.main-portrait-container .navigation-button{
    margin-top: 49.4rem;
}

.introducing-part .introducing-part-title{
    margin-top: 5rem;
}

.introducing-part .introducing-part-paragraph{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.cathalog{
    padding: 0;
    height: 15.8rem;
}

.cathalog .cathalog-title{
    width: 80.4rem;
}

.cathalog .cathalog-paragraph{
    width: 80.4rem;
    margin: 0 auto;
    font-size: 2.4rem;
    margin-top: .8rem;
}

.cathalog, .workshops-information{
    padding: 0;
}

.cathalog .cathalog-link{
    width: 24.6rem;
}

.workshops .workshop-slidebar{
    width: 80.2rem;
    height: 54.6rem;
    left: calc( 50% - 40.1rem );
}

.workshop-slidebar-container .navigation-button{
    margin-top: 51.4rem;
}

.workshop-slidebar figure:first-child{
    min-width: 98rem;
}

.workshop-slidebar figure:nth-child(2){
    min-width: 54.6rem;
}

.workshop-slidebar figure:nth-child(3) {
    min-width: 41rem;
}

.workshops-information .workshops-paragraph,
.english-information .english-information-paragraph,
.form-container p,.footer .footer-adress{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.workshops .workshops-little-paraghraph,
.english-information .english-little-paragraph{
    font-size: 1.6rem;
}

.english-information{
    padding: 0;
}

.english-information .english-title{
    padding-top: 4rem;
}

.workshops .english-slidebar{
    width: 80.2rem;
    height: 54.6rem;
    left: calc( 50% - 40.1rem );
}

.form-container{
    margin-top: 5.4rem;
}

.form-container {
    padding: 0;
}

.form-container h1,.form-container p{
    width: 80.4rem;
    margin: 0 auto;
}

.form{
    width: 36.5rem;
}

.form span{
    font-size: 2rem;
    line-height: 2rem;
}

.form input[type="text"],.form input[type="date"]{
    margin-top: 1rem;
    height: 2.4rem;
}

.footer .footer-adress,
.footer .footer-links,
.link-developer p{
    font-size: 2rem;
    width: 21.4rem;
    margin: 0 auto;
}

.footer .footer-libary-location,
.footer-credits .link-developer{
    width: 21.4rem;
    margin: 0 auto;
}

.footer-credits .wwwdfooter-credits-library-image{
    width: 15rem;
    height: 7.5rem;
}

/*estilos barras de scroll lateral*/

.lateral-scroll{
    display: flex;
    width: 100%;
    height: 4.8rem;
    background-color: transparent;
    position: absolute;
    top: calc( 50% - 2.4rem );
    justify-content: space-between;
} 

.lateral-scroll .lateral-left-scroll,
.lateral-scroll .lateral-right-scroll{
    width: 4.8rem;
    height: 4.8rem;
}


