:root{
    /*colors*/
    --dark-gray-color: #888;
    --medium-gray-color: #B7B7B7;
    --medium-soft-gray-color:#c9c9c9;
    --light-gray-color:#EAEAEA;
    --light-gray-bg-color: #F3F2F2;
    --dark-blue-tag: #20195E;
    --dark-purple: #6E0B59;
    --white-first-bg: #F5F9FC;
    --font-principal-gray: #7A7A7A;
    --blue-literature-club: #500EA3;
    --orange-digital-journal: #EF5E00;
    --brown-academical-advice: #871109;
    --white-background: #FCFCFC;
    --p-font-principal: #202021;
    --blue-burguer-button: #0F0A3A;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: .625rem;
    background: var(--light-gray-bg-color);
    font-family: "Questrial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.header{
    background-color: var(--dark-blue-tag);
    height: 7.2rem;
    padding: 0rem 3.2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    overscroll-behavior-x: contain;
    overflow-x: clip;
}

.icon-container{
    height: 4.5rem;
    width: 9rem;
    display: block;    
}

.icon-container .icon-image{
    width: 9rem;
    height: 4.5rem;
}

/*botón de hamburguesa*/

.header .button-burguer{
    height: 1.8rem;
    width: 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;
}

.header .button-burguer article{
    width: 100%;
    height: .3rem;
    background-color: var(--light-gray-color);
}

.header .button-burguer article:first-child{
    width: 100%;
}

.header .button-burguer .button-second-line{
    width: 66%;
    transition: transform .8s;
} 

.header .button-burguer .button-second-line-change{
    transform: translateX(-.7rem);
    transition: transform .8s;
    width: 66%;
}

.header .button-burguer .button-third-line{
    width: 33%;
    transition: transform .8s; 
}

.header .button-burguer .button-third-line-change{
    transform: translateX(-1.4rem);
    transition: transform .8s;
    width: 33%;
}

/*estilos nabvar*/

.navbar-menu{
    background-color: var(--blue-burguer-button);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 100vw;
    top: 0;
    z-index: 2;
    transition-duration: 1.2s;
}

.navbar-menu-movement{
    left: 0;
    transform: translateX(0);
    transition-duration: 1.2s;
}

.navbar-menu .navbar-menu-logo{
    height: 10rem;
    margin-top: 7.8rem;
}

.navbar-menu .navbar-menu-unordened-list{
    margin-top: 6.4rem;
    display: flex;
    flex-direction: column;
    color: var(--light-gray-bg-color);
    list-style: none;
    height: 18.3rem;
    justify-content: space-between;
}

.navbar-menu .navbar-menu-unordened-list li{
    font-family: "Staatliches", sans-serif;
    font-size: 1.6rem;
}

.navbar-menu .navbar-menu-unordened-list li a{
    display: block;
}

/*estilos header*/

.main-portrait{
 display: flex;
 flex-direction: row;
 overflow: auto;
 white-space: nowrap;
 width: 100vw;
 height: 31.7rem;
 position: fixed;
 left: 0;
 right: 0;
 overflow-y:hidden;
 overflow-x:auto;
}



.main-portrait figure{
display: inline-block;
width: 100vw;
scroll-snap-align: center;
min-width: 100vw;
position: relative;
}

.main-portrait figure img{
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-portrait-container{
    display: flex;
    position: relative;
}
.main-portrait-container .navigation-button{
    display: flex;
    width: 11.2rem;
    height: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 28rem;
    z-index: 1;
}

.white-button{
    background: var(--light-gray-bg-color);
    width: 1rem;
    height: 100%;
    border-radius: 50%;
    transition-duration: 1.5s;
}

.white-button:hover{
    background-color: var(--blue-burguer-button);
    border: 1px solid var(--light-gray-bg-color);
    transition-duration: 1.5s;
    transform: scale(1.1);
}

.blue-button{
    background-color: var(--blue-burguer-button);
    border: 1px solid var(--light-gray-bg-color);
    width: 1rem;
    height: 100%;
    border-radius: 50%;
    transition-duration: 1.5s;
    transform: scale(1.1);
}
