.introducing-part .introducing-part-title,
.cathalog .cathalog-title,
.workshops .workshops-title,
.english-information .english-title,
.form-container h1{
    font-size: 3.2rem;
}

.header .button-burguer{
    display: none;
}

.introducing-part .introducing-part-paragraph,p{
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.main-portrait,
.workshops .workshop-slidebar,
.workshops .english-slidebar{
    width: 100vw;
    height: 53.2rem;
    left: 0;
} 

.workshops .workshop-slidebar{
    height: 43.2rem;
}


.cathalog{
    height: 13.8rem;
}
 
.workshop-slidebar figure:nth-child(2){
    min-width:  43.2rem;
    height: 100%;
}

.workshop-slidebar figure:nth-child(3){
    min-width:  32.5rem;
}

/*estilos de la barrra de navegación para tablet y desktop*/

.navbar-menu-tablet{
    display: inline-flex;
    font-size:2rem;
    color: var(--light-gray-bg-color);
    font-family:"Staatliches", sans-serif;
    list-style: none;
    width: 37.6rem;
    justify-content: space-between;
}

.navbar-menu-tablet li a{
    display: block;
    color: var(--light-gray-bg-color);
    text-decoration: none;
}


.form .input-radio-grid{
    width: 100%;
    height: 8.5rem;
}


/*estilos para la sección de catalogo*/

.cathalog-main{
    width: 37rem;
}

.cathalog-main .cathalog-main-title{
    font-size: 3.2rem;
}


.cathalog-main .cathalog-book-title{
    font-size: 2.4rem;
}

.cathalog-main .cathalog-main-id{
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
}

.cathalog-main .cathalog-main-grid{
    align-items: center;
}
 